//========================start header=======================================
$red: #E1332D;
$white: #fff;
.container-logo{
    margin-top: 2.0625rem;
}
.nav{

    display: flex;
    align-items: center;
    justify-content: space-around;

    &_list{
    display: flex;
    align-items: center;
    margin-top: 3.375rem;
    font-family: 'SF UI Display',"sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.0625rem;

    }
    &_links{
        margin-right: 2.3125rem;
    }
    &_contact{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3.375rem;
        font-family: 'SF UI Display',"sans-serif";
        font-weight: 300;
        font-size: .875rem;
        line-height: 1.0625rem;


    }
    &_info{
        display: flex;
        align-items: center;
        margin-right: 1.5rem;
    }
    &_order{
        display: flex;
        width: 14.125rem;
        height: 3.5625rem;
        background-color: $general_color;
        align-items: center;
        justify-content: center;
        border-radius: .3125rem;
        margin-top: 2.0625rem;
        margin-left: 1.6875rem;
        font-family: 'SF UI Display',"sans-serif";
        color: white;
        font-style: normal;
        font-weight: normal;
        font-size: .875rem;
        line-height: 1.0625rem;
        letter-spacing: 0.1em;
    }
    &_order:hover{
        background-color: white;
        border: 0.5px solid $general_color;
        color: $general_color;
    }
}
.img_info{
    margin-right: .625rem;
}
//====================End header=========================================
//================Slider_general_start===================================
.slick-dots li button:before {
    font-family: 'slick';
     font-size: 1.25rem;
     line-height: 1.25rem;
     position: absolute;
     top: 0;
     left: 0;
     width: 1.25rem;
     height: 1.25rem;
     content: '•'; /* <-- Вот этот символ */
     text-align: center;
     opacity: .25;
     color: black;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
   }

//================Slider_general_finish==================================
//=====================Start section_1===================================
.slider{
    margin-left: 3.125rem;
}
.slick-dots li button:before{
    font-size: 20px;
}
.general_text{

&_upper{
    font-family: 'SF UI Display',"sans-serif";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: black;
}
&_lower{
    font-family: 'SF UI Display',"sans-serif";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: black;
}
}
.title{
    &_subFunction{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    }
    &_subImg{
        margin-right: 0.9375rem;
    }
    &_text1{
        font-family: 'Museo Sans Cyrl', "sans-serif";
        font-weight: 900;
        font-size: 2rem;
        line-height: 2.375rem;
        margin-bottom: 0px;
    }
    &_text2{
        font-family: 'Museo Sans Cyrl', "sans-serif";
        font-weight: 900;
        color: $general_color;
        font-size: 2rem;
        line-height: 2.375rem;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    &_text3{
        font-family: 'Museo Sans Cyrl', "sans-serif";
        font-weight: 900;
        font-size: 2rem;
        line-height: 2.375rem;
        margin-top: 0px;
    }
    &_sub{
        font-family: 'SF UI Display',"sans-serif";
        font-style: normal;
        font-weight: 200;
        font-size: 1rem;
        line-height: 150%;
    }
}
.btn_offer{
    display: flex;
}
.btn{
    
    &_btnleft{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14.125rem;
    height: 3.5625rem;
    background-color: $general_color;
    box-shadow: 0px 1px 4px rgba(255, 190, 1, 0.26);
    border-radius: 5px;
    margin-top: 1.375rem;
    color: white;
    margin-right: 2rem;
}
    &_btnright{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14.125rem;
    height: 3.5625rem;
    border: 0.5px solid $general_color;
    border-radius: 5px;
    margin-top: 1.375rem;
    color: $general_color;
}
}
.btn_btnleft{
    font-family: 'SF UI Display',"sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: .875rem;
    line-height: 1.0625rem;
    &:hover{
    background-color: white;
    border: 0.5px solid $general_color;
    color: $general_color;
}
}
.btn_btnright{
    font-family: 'SF UI Display',"sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: .875rem;
    line-height: 1.0625rem;
    &:hover{
    background-color: $general_color;
    color: white;
}
}
.sub_text{
    display: flex;
    margin-top: 1.25rem;
    align-items: center;
}
.text_color{
    &_general{
        font-family: 'SF UI Display',"sans-serif";
        color: #DEDEDE;
        font-style: normal;
        font-weight: 300;
        font-size: .875rem;
        margin: 0.1875rem;
    }
    &_second{
        font-family: 'SF UI Display',"sans-serif";
        color: $general_color;
        font-style: normal;
        font-weight: 300;
        font-size: .875rem;
    }
}
//=====================slide_2_buttons_Start===================================================//
.btn{
    
    &_btnleft_slide2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14.125rem;
    height: 3.5625rem;
    border: 0.5px solid $general_color;
    box-shadow: 0px 1px 4px rgba(255, 190, 1, 0.26);
    border-radius: 5px;
    margin-top: 1.375rem;
    color: $general_color;
    margin-right: 2rem;
}
    &_btnright_slide2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14.125rem;
    height: 3.5625rem;
    background-color: $general_color;
    border-radius: 5px;
    margin-top: 1.375rem;
    color:white;
}
}
.btn_btnleft_slide2:hover{
    background-color:$general_color;
    border: 0.5px solid $general_color;
    color: white;
}
.btn_btnright_slide2:hover{
    background-color: white;
    border: 0.5px solid $general_color;
    color: $general_color;
}
//======================slide_2_finish==============================================================//
//=====================slide_3_buttons_Start========================================================//
.btn{
    
    &_btnleft_slid3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14.125rem;
    height: 3.5625rem;
    border: 0.5px solid $general_color;
    box-shadow: 0px 1px 4px rgba(255, 190, 1, 0.26);
    border-radius: 5px;
    margin-top: 1.375rem;
    color: $general_color;
    margin-right: 2rem;
}
    &_btnright_slide3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14.125rem;
    height: 3.5625rem;
    border: 0.5px solid $general_color;
    border-radius: 5px;
    margin-top: 1.375rem;
    color: $general_color;
}
}
.btn_btnleft_slid3:hover{
    background-color: $general_color;
    border: 0.5px solid $general_color;
    color: whitesmoke;
}
.btn_btnright_slide3:hover{
    background-color: $general_color;
    border: 0.5px solid $general_color;
    color: whitesmoke;
}
//======================slide_3_finish==============================================================//

//=======================Finish section_1==========================================================//
//============================Section_2============================================================//
.content_container{
    // width: 381px;
    // height: 230px;
    // width: 23.8125rem;
    height: 14.375rem;
    border: 1px solid #DEDEDE;
    position: relative;
    &:hover{
        // width: 23.8125rem;
        // height: 14.375rem;
        background-color: black;
        transform: scale(1.2);
        color: white;
        z-index: 1;
        border-radius: 10px;
        transition: 0.7s;
        
    }

}
.prioritets_text{
    display: flex;
    align-items: center;
    justify-content: center;
}
.generals_prioritets{
    font-family: 'Museo Sans Cyrl', "sans-serif";
    font-style: normal;
    font-weight: 900;
    font-size: 2rem;
    line-height: 2.375rem;
}
.generals_prioritets_second{
    margin-left: .6875rem;
    color: $general_color;
    font-family: 'Museo Sans Cyrl', "sans-serif";
    font-style: normal;
    font-weight: 900;
    font-size: 2rem;
    line-height: 2.375rem;
}
.img_block1{
    position: absolute;
    height: 2rem;
    width: 2rem;
    left: 3rem;
    top: 2.75rem;
}
.box_title_block1{
    font-family: 'Museo Sans Cyrl', "sans-serif";
    font-weight: 900;
    position: absolute;
    left: 5.8125rem;
    top: 2.5rem;
}
.box{
    &_title{
        font-family: 'Museo Sans Cyrl', "sans-serif";
        font-weight: 900;
        position: absolute;
        left: 2.1875rem;
        top: 3.125rem;
    }
    &_img{
    position: absolute;
    width: 2.9375rem;
    height: 2.6925rem;
    top: 1.25rem;
    right: 1.25rem;
    }
    &_par{
        font-family: 'Museo Sans Cyrl', "sans-serif";
        font-weight: 300;
        position: absolute;
        left: 2.1875rem;
        right: 1.125rem;
        top: 5.875rem;
    }
}
.magin_section2{
    
    margin-left: 5.125rem;
    margin-right: 5.125rem;
}
//===============Finish_section_2==================================================================//
//===================================Start Section_3===============================================//
.section_3{
        position: relative;
        margin-top: 7.3125rem;
        
    &_header{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Museo Sans Cyrl', "sans-serif";
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
        line-height: 2.375rem;
    }
    &_text_general{
        color: black;
        margin-left: .625rem;
    }
    &_text_second{
        color: $general_color;
        margin-left: .625rem;
        }

}
.btn_services{
    width: 70px;
    height: 70px;
    font-family: 'Museo Sans Cyrl', "sans-serif";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;
    background-color: white;
    border: 2px solid $general_color;
    border-radius: 50%;
    &:hover{
        background-color: $general_color;
    }
    &_info{
        // margin-left: 1.5625rem;
        font-family: 'Museo Sans Cyrl', "sans-serif";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
    }
}
.sub_section_services{
    justify-content: end;
    width: 19.15rem;
}
.img{
    &_box{
    position: relative;
    }
    &_plam{
    right: -50px;
    position: absolute;
    width: 414px;
    height: 440px;
    }
    &_boxx{
        position: relative;
    }
    &_doll{
        position: inherit;
        right: -50px;
        width: 492px;
        height: 336px;
        top: 80px;
    }
}
.button_for_price{
    position: relative;
    height: 9.375rem;
    width: 100%;
}
.bnt_price{
    position: absolute;
    right: 50%;
}
//====================================Finish Section_3===========================================//
//====================================Start Section_4============================================//
#section_4{
    height: 100vh;
    margin-top: 1.875rem;
    background-color: black;
    position: relative;
    padding-bottom: 3rem;
    
}
.img_background_section_4{

    position: absolute;
    right: 0;
    top: 5.375rem;
    width: 812.13px;
    height: 779.88px;
}
.title{
    &_section_4{
    // margin-top: 3rem;
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 5.375rem;
    }
    &_Big{
    margin-top: 48px;
    font-family: Museo Sans Cyrl;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    }
    &_second{
    font-family: Museo Sans Cyrl;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
    color: $general_color;
    }
}
.container{
    &_advantages{
    margin-top: 2.625rem;
    // height: 100vh;
    min-height: 37.5rem;
    border-left: .5px solid #282828;
    margin-left: 5.375rem;
    }
    &_boxAdvantages{
    color: white;
    flex-direction: column;
    padding-right: 0px;
    }
}
.box{
    &_general{
        position: relative;
    }
}
.box_advantages{
    width: auto;
    height: 48px;
    position: absolute;
    left: 0;
    border-left: 3px solid $general_color;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Museo Sans Cyrl;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: white;
    &_btn1{
        top: 97px;
    }
    &_btn2{
        top: 246px;
    }
    &_btn3{
        top: 371px;
    }
    &_btn4{
        top: 520px;
    }
}
.box_advantagesText{
    margin-left: 28px;
}
.box_inform{
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    background-color: $general_color;
    content: "";
    &_block1{
        margin-bottom: 105px;
    }
    &_block2{
        margin-bottom: 129px;
    }
    &_block3{
        margin-bottom: 129px;
    }
}
.container{
    &_boxRight{
        color: white;
        display: block;
        padding-left: 0px;
    }
    &_withContant{
    display: flex;
    position: absolute;
    right: 24.25rem;
    align-items: flex-end;
    }
    &_1{
    top: 16.4375rem;
    }
    &_2{
    top: 26.25rem;
    }
    &_3{
    top: 33.5625rem;
    }
    &_4{
    top: 42.875rem; 
    }
    &_boxs{
    width: 1.25rem;
    height: 1.25rem;
    background-color: $general_color;
    content: "";
    }
    &_withText{
    width: 41.25rem;
    margin-left: 2.5rem;
    font-family: SF UI Display;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 150%;
    }
}
//====================================Finish Section_4==========================================//

