// variables
$container: 1920px;
$height100: 100vh;
$height120: 120vh;
$container414: 414px;
$gap: 15px;
$col: 12;
$colWidth: 100% / $col;
$title_News: whitesmoke;
$general_color:#FFBE01;
// $general_color:purple;

$primaryColor: #303841;
$secondaryColor: #4e4e4e;
$colorForText: black;

$btnBorderColor: $primaryColor;

.adapvite_container{
    max-width: 1920px;
    width: 100%;
    height: 100vh;
}
.container{
    max-width: $container;
    width: 100%;
    margin: 0 auto;
    padding: 0 $gap;

}

/* Ba-grid  */
.ba-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -$gap;
    margin-right: -$gap;
}

.ba-row + .ba-row{
    margin-top: 1rem;
}

[class^='ba-col']{
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

@for $i from 1 through $col {
    .ba-col-#{$i}{
        width: $colWidth * $i;
    }
}

@media screen and (max-width: 414px){
    .container{
        max-width: $container414;
        width: 100%;
        margin: 0 auto;
        padding: 0 $gap;
        // background-color: $yellow;
    
    }
    .title__inform_gen{
        display: none;
    }
    .burger-menu_button {
        display: block !important;
    }
    #section_general{
        max-width: 414px;
        width: 100%;
        height: 75vh;
        background-image: url(../img/main_hero_homepage_desktop414.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }
    .hidden-Sx{
        display: none !important;
    }
    .burger-menu_button{
        display: block !important;
    }
}
@media screen and (max-width: 768px){
    .ba-col-si-12{
        width: 100%;
    }
    .ba-col-si-11{
        width: 91.66%;
    }
    .ba-col-si-10{
        width: 83.3%;
    }
    .ba-col-si-9{
        width: 74.97%;
    }
    .ba-col-si-8{
        width: 66.62%;
    }
    .ba-col-si-7{
        width: 58.3%;
    }
    .ba-col-si-6 {
        width: 50%;
    }
    .ba-col-si-5 {
        width: 41.65%;
    }
    .ba-col-si-4 {
        width: 33.3%;
    }
    .ba-col-si-3 {
        width: 24.98%;
    }
    .ba-col-si-2 {
        width: 16.66%;
    }
    .ba-col-si-1 {
        width: 8.33%;
    }
    // =====================================section_3===============================================
    .none{
        display: none;
    }
    // =================================section_4===================================================
    .container_boxRight_si{
        display: none !important;
    }
    .container_1_si{
    left: 0 !important;
    right: 0 !important;
    display: flex !important;
    margin-left: 28px !important;
    }
    .container_withText_si{
    width: 35.25rem !important;
    margin-left: 0 !important;
    font-size: 1rem !important;
    line-height: 150% !important;
    text-align: justify !important;
    }
    .position_si{
        &_1{
            top: 10rem;
        }
        &_2{
            top: 19rem;
        }
        &_3{
            top: 27rem;
        }
        &_4{
            top: 36rem;
        }
    }
    .section_3_header{
        font-size: 1.5rem !important;
    }
    // .burger-menu{

    // }

}
@media screen and (max-width: 991px){
    .ba-col-md-12{
        width: 100%;
    }
    .ba-col-md-11{
        width: 91.66%;
    }
    .ba-col-md-10{
        width: 83.3%;
    }
    .ba-col-md-9{
        width: 74.97%;
    }
    .ba-col-md-8{
        width: 66.62%;
    }
    .ba-col-md-7{
        width: 58.3%;
    }
    .ba-col-md-6 {
        width: 50%;
    }
    .ba-col-md-5 {
        width: 41.65%;
    }
    .ba-col-md-4 {
        width: 33.3%;
    }
    .ba-col-md-3 {
        width: 24.98%;
    }
    .ba-col-md-2 {
        width: 16.66%;
    }
    .ba-col-md-1 {
        width: 8.33%;
    }

    .hidden-md {
        display: none !important;
    }
}
@media screen and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
}
@media screen and (min-width: 991px) {
    .hidden-sn {
        display: none !important;
    }
}
@media screen and (max-width: 1280px){
    a{
        color: greenyellow;
    }
    .sub_section_services{
        margin-left: -30px;
        padding-left: 0;
    }
    .layout_sv{
        width: 120px;
      }
    // .container_withContant_sv{
    //     right: 9%!important;
    // }
    .img_background_section_4_sv{
        transform: scale(0.8);
        right: -70px!important;
        top: 5rem!important;
    }
    // .contaiver_advantages_sv{
    //     min-height: 37.5rem!important;
    // }
    .container{
        &_withContant_sv{
        display: flex;
        position: absolute;
        right: 9%!important;
        align-items: flex-end;
        }
        // &_1_sv{
        // top: 30%!important;
        // }
        // &_2_sv{
        // top: 48%!important;
        // }
        // &_3_sv{
        // top: 63%!important;
        // }
        // &_4_sv{
        // top: 83%!important; 
        // }
    }
    .none_sv{
        display: none;
    }
}
@media screen and (max-width: 1337px){
    a{
        color:purple;
    }

}
@media screen and (max-width: 1366px){
    a{
        color:red;
    }
}
@media screen and (max-width: 1440px){
    a{
        color: greenyellow;
    }
    .container_withContant_sd{
        right: 10.25rem !important;
    }
    .layout_sd{
        width: 120px;
      }
}
@media screen and (max-width: 1920px){
    a{
        color:peru;
    }
    #section_general{
        max-width: 1920px;
        width: 100%;
        height: $height100;
        background-image: url(../img/main_hero_homepage_desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .general_name_cars {
        display: flex;
        justify-content: space-around;
        margin-top: 20rem;
    }
    .remGen{
        margin-top: 30rem;
    }
    .hidden-sX {
        display: none;
    }
}
@media screen and (max-width: 2080px){
    a{
        color:purple;
    }
    #section_general{
        max-width: 2080px;
        width: 100%;
        height: $height100;
        background-image: url(../img/main_hero_homepage_desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .general_name_cars {
        display: flex;
        justify-content: space-around;
        margin-top: 20rem;
    }
    .remGen{
        margin-top: 30rem;
    }
}











// mixins
@mixin buttonHover {
    background-color: pink;
    border-color: darken($btnBorderColor, 15%)

}




/* ba-common */

.ba-text-center{
    text-align: center;
}

.ba-text-left{
    text-align: left;
}
.ba-text-right{
    text-align: right;
}
.ba-text-justify{
    text-align: justify;
}