// variables
$container: 1920px;
$height100: 100vh;
$height120: 120vh;
$container414: 414px;
$gap: 15px;
$col: 12;
$colWidth: 100% / $col;
$title_News: whitesmoke;
$general_color:#FFBE01;
$items: 4;
$transition-duration: 0.5s;
$transition-delay: 0.05s;
// $general_color:purple;

$primaryColor: #303841;
$secondaryColor: #4e4e4e;
$colorForText: black;

$btnBorderColor: $primaryColor;

.adapvite_container{
    max-width: 1920px;
    width: 100%;
    height: 100vh;
}
.container{
    max-width: $container;
    width: 100%;
    margin: 0 auto;
    padding: 0 $gap;

}

/* Ba-grid  */
.ba-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -$gap;
    margin-right: -$gap;
}

.ba-row + .ba-row{
    margin-top: 1rem;
}

[class^='ba-col']{
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

@for $i from 1 through $col {
    .ba-col-#{$i}{
        width: $colWidth * $i;
    }
}
@media screen and (max-width: 320px){
    .container{
        max-width: $container414;
        width: 100%;
        margin: 0 auto;
        padding: 0 $gap;
        // background-color: $yellow;
    
    }
    .title__inform_gen{
        display: none;
    }
    .burger-menu_button {
        display: block !important;
    }
    #section_general{
        max-width: 414px;
        width: 100%;
        height: 75vh;
        background-image: url(../img/main_hero_homepage_desktop414.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }
    .hidden-sa{
        display: none !important;
    }
    .burger-menu_button{
        display: block !important;
    }
}
@media screen and (max-width: 414px){
    .body-sf{
        width: 414px;
    }
    .container-sf{
        max-width: $container414 !important;
        width: 100% !important;
        margin: 0 auto !important;
        padding: 0 $gap !important;
        // background-color: $yellow;
    
    }
    .ba-col-sf-12{
        width: 100%;
    }
    .ba-col-sf-11{
        width: 91.66%;
    }
    .ba-col-sf-10{
        width: 83.3%;
    }
    .ba-col-sf-9{
        width: 74.97%;
    }
    .ba-col-sf-8{
        width: 66.62%;
    }
    .ba-col-sf-7{
        width: 58.3%;
    }
    .ba-col-sf-6 {
        width: 50%;
    }
    .ba-col-sf-5 {
        width: 41.65%;
    }
    .ba-col-sf-4 {
        width: 33.3%;
    }
    .ba-col-sf-3 {
        width: 24.98%;
    }
    .ba-col-sf-2 {
        width: 16.66%;
    }
    .ba-col-sf-1 {
        width: 8.33%;
    }
    // ================================section_2 start================================
    .prioritets_text-sf{
    display: flex;
    align-items: center;
    flex-flow: column;
    text-align: center;
    }
    .generals_prioritets_second-sf{
        margin-left: 0;
    }
    //=================================section_2 finish================================
    //=================================section_3_start=================================
    .button_for_price-sf{
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .bnt_price-sf{
        position: unset !important;
    }
    //=================================section_3_finish================================
    //=================================section_4_start=================================
    .section_4-sf{
    height: 100% !important;
    background-color:white !important;
    position: relative;
    // padding-bottom: 3rem ;
    }
    .title_section_4{
        color: black !important;
    }
    //=================================section_4_finish================================
    .burger-menu_button {
        display: block !important;
    }
    // #section_general{
    //     max-width: 414px;
    //     width: 100%;
    //     height: 75vh;
    //     background-image: url(../img/main_hero_homepage_desktop414.jpg);
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     overflow: hidden;
    // }
    .hidden-sf{
        display: none !important;
    }
    .burger-menu_button{
        display: block !important;
    }
}
@media screen and (max-width: 768px){
    .ba-col-si-12{
        width: 100%;
    }
    .ba-col-si-11{
        width: 91.66%;
    }
    .ba-col-si-10{
        width: 83.3%;
    }
    .ba-col-si-9{
        width: 74.97%;
    }
    .ba-col-si-8{
        width: 66.62%;
    }
    .ba-col-si-7{
        width: 58.3%;
    }
    .ba-col-si-6 {
        width: 50%;
    }
    .ba-col-si-5 {
        width: 41.65%;
    }
    .ba-col-si-4 {
        width: 33.3%;
    }
    .ba-col-si-3 {
        width: 24.98%;
    }
    .ba-col-si-2 {
        width: 16.66%;
    }
    .ba-col-si-1 {
        width: 8.33%;
    }
    // =====================================section_3===============================================
    .hidden-si {
        display: none !important;
    }
    // =================================section_4===================================================
    .container_boxRight_si{
        display: none !important;
    }
    .container_1_si{
    left: 0 !important;
    right: 0 !important;
    display: flex !important;
    margin-left: 28px !important;
    }
    .container_withText_si{
    width: 35.25rem !important;
    margin-left: 0 !important;
    font-size: 1rem !important;
    line-height: 150% !important;
    text-align: justify !important;
    }
    .position_si{
        &_1{
            top: 10rem;
        }
        &_2{
            top: 19rem;
        }
        &_3{
            top: 27rem;
        }
        &_4{
            top: 36rem;
        }
    }
    .section_3_header{
        font-size: 1.5rem !important;
    }
    .slick-dotsSi{
        right: 0;
    }
    // .burger-menu{

    // }

}
@media screen and (min-width: 768px){
    .ba-col-sI-12{
        width: 100%;
    }
    .ba-col-si-11{
        width: 91.66%;
    }
    .ba-col-si-10{
        width: 83.3%;
    }
    .ba-col-si-9{
        width: 74.97%;
    }
    .ba-col-si-8{
        width: 66.62%;
    }
    .ba-col-si-7{
        width: 58.3%;
    }
    .ba-col-sI-6 {
        width: 50%;
    }
    .ba-col-si-5 {
        width: 41.65%;
    }
    .ba-col-si-4 {
        width: 33.3%;
    }
    .ba-col-si-3 {
        width: 24.98%;
    }
    .ba-col-si-2 {
        width: 16.66%;
    }
    .ba-col-si-1 {
        width: 8.33%;
    }
    // =====================================section_3===============================================
    .hidden-sI {
        display: none !important;
    }
    // =================================section_4===================================================
    .container_1_si{
    left: 0 !important;
    right: 0 !important;
    display: flex !important;
    margin-left: 28px !important;
    }
    .container_withText_si{
    width: 35.25rem !important;
    margin-left: 0 !important;
    font-size: 1rem !important;
    line-height: 150% !important;
    text-align: justify !important;
    }
    .position_si{
        &_1{
            top: 10rem;
        }
        &_2{
            top: 19rem;
        }
        &_3{
            top: 27rem;
        }
        &_4{
            top: 36rem;
        }
    }
    .section_3_header{
        font-size: 1.5rem !important;
    }
    .slick-dotsSi{
        right: 0;
    }
    // .burger-menu{

    // }

}
@media screen and (max-width: 991px){
    .ba-col-md-12{
        width: 100%;
    }
    .ba-col-md-11{
        width: 91.66%;
    }
    .ba-col-md-10{
        width: 83.3%;
    }
    .ba-col-md-9{
        width: 74.97%;
    }
    .ba-col-md-8{
        width: 66.62%;
    }
    .ba-col-md-7{
        width: 58.3%;
    }
    .ba-col-md-6 {
        width: 50%;
    }
    .ba-col-md-5 {
        width: 41.65%;
    }
    .ba-col-md-4 {
        width: 33.3%;
    }
    .ba-col-md-3 {
        width: 24.98%;
    }
    .ba-col-md-2 {
        width: 16.66%;
    }
    .ba-col-md-1 {
        width: 8.33%;
    }

    .hidden-md {
        display: none !important;
    }
}
@media screen and (max-width: 991px) {
    .ba-col-md-12{
        width: 100%;
    }
    .ba-col-md-11{
        width: 91.66%;
    }
    .ba-col-md-10{
        width: 83.3%;
    }
    .ba-col-md-9{
        width: 74.97%;
    }
    .ba-col-md-8{
        width: 66.62%;
    }
    .ba-col-md-7{
        width: 58.3%;
    }
    .ba-col-md-6 {
        width: 50%;
    }
    .ba-col-md-5 {
        width: 41.65%;
    }
    .ba-col-md-4 {
        width: 33.3%;
    }
    .ba-col-md-3 {
        width: 24.98%;
    }
    .ba-col-md-2 {
        width: 16.66%;
    }
    .ba-col-md-1 {
        width: 8.33%;
    }
    .hidden-sm {
        display: none !important;
    }
}
@media screen and (min-width: 991px) {
    .ba-col-sn-12{
        width: 100%;
    }
    .ba-col-sn-11{
        width: 91.66%;
    }
    .ba-col-sn-10{
        width: 83.3%;
    }
    .ba-col-sn-9{
        width: 74.97%;
    }
    .ba-col-sn-8{
        width: 66.62%;
    }
    .ba-col-sn-7{
        width: 58.3%;
    }
    .ba-col-sn-6 {
        width: 50%;
    }
    .ba-col-sn-5 {
        width: 41.65%;
    }
    .ba-col-sn-4 {
        width: 33.3%;
    }
    .ba-col-sn-3 {
        width: 24.98%;
    }
    .ba-col-sn-2 {
        width: 16.66%;
    }
    .ba-col-sn-1 {
        width: 8.33%;
    }
    .hidden-sn {
        display: none !important;
    }
}
@media screen and (max-width: 1024px){
    .ba-col-12-sj{
        width: 100% !important;
    }
    .ba-col-11{
        width: 91.66%;
    }
    .ba-col-10{
        width: 83.3%;
    }
    .ba-col-9{
        width: 74.97%;
    }
    .ba-col-8{
        width: 66.62%;
    }
    .ba-col-7{
        width: 58.3%;
    }
    .ba-col-6-sj {
        width: 50% !important;
    }
    .ba-col-5 {
        width: 41.65%;
    }
    .ba-col-4 {
        width: 33.3%;
    }
    .ba-col-3 {
        width: 24.98%;
    }
    .ba-col-2 {
        width: 16.66%;
    }
    .ba-col-1 {
        width: 8.33%;
    }
    .hidden-sj{
        display: none !important;
    }
//==============================================section_2=================================================
.content_container{
    height: 15.375rem !important;
}
//==============================================section_2_finish==========================================
//==============================================section_3_start===========================================
.button_for_price{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bnt_price {
    position: unset !important;
}
//==============================================section_3_finish==========================================
//==============================================section_4_start_==========================================
.container_1 {
    top: 19.4375rem !important;
}
.container_withContant{
    right: 0rem !important;
}
.container_2 {
    top: 29.25rem;
}
.container{
    &_1{
    top: 19.4375rem !important;
    }
    &_2{
    top: 29.25rem !important;
    }
    &_3{
    top: 37.5625rem !important;
    }
    &_4{
    top: 46.875rem !important; 
    }
}
//==============================================section4_finish===========================================
}
@media screen and (max-width: 1280px){
    a{
        color: greenyellow;
    }
    .sub_section_services{
        margin-left: -30px;
        padding-left: 0;
    }
    .layout_sv{
        width: 120px;
      }
    // .container_withContant_sv{
    //     right: 9%!important;
    // }
    .img_background_section_4_sv{
        transform: scale(0.8);
        right: -70px!important;
        top: 5rem!important;
    }
    // .contaiver_advantages_sv{
    //     min-height: 37.5rem!important;
    // }
    .container{
        &_withContant_sv{
        display: flex;
        position: absolute;
        right: 9%!important;
        align-items: flex-end;
        }
        // &_1_sv{
        // top: 30%!important;
        // }
        // &_2_sv{
        // top: 48%!important;
        // }
        // &_3_sv{
        // top: 63%!important;
        // }
        // &_4_sv{
        // top: 83%!important; 
        // }
    }
    .none_sv{
        display: none;
    }
}
@media screen and (max-width: 1337px){
    a{
        color:purple;
    }

}
@media screen and (max-width: 1366px){
    a{
        color:red;
    }
}
@media screen and (min-width: 1440px){
    a{
        color: greenyellow;
    }
    .container_withContant{
        right: 10.25rem !important;
    }
    .layout_sd{
        width: 120px;
      }
}
@media screen and (max-width: 1920px){
    a{
        color:peru;
    }
    #section_general{
        max-width: 1920px;
        width: 100%;
        height: $height100;
        background-image: url(../img/main_hero_homepage_desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .general_name_cars {
        display: flex;
        justify-content: space-around;
        margin-top: 20rem;
    }
    .remGen{
        margin-top: 30rem;
    }
    .hidden-sX {
        display: none;
    }
}
@media screen and (max-width: 2080px){
    a{
        color:purple;
    }
    #section_general{
        max-width: 2080px;
        width: 100%;
        height: $height100;
        background-image: url(../img/main_hero_homepage_desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .general_name_cars {
        display: flex;
        justify-content: space-around;
        margin-top: 20rem;
    }
    .remGen{
        margin-top: 30rem;
    }
}











// mixins
@mixin buttonHover {
    background-color: pink;
    border-color: darken($btnBorderColor, 15%)

}




/* ba-common */

.ba-text-center{
    text-align: center;
}

.ba-text-left{
    text-align: left;
}
.ba-text-right{
    text-align: right;
}
.ba-text-justify{
    text-align: justify;
}