@charset "UTF-8";
.adapvite_container {
  max-width: 1920px;
  width: 100%;
  height: 100vh; }

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

/* Ba-grid  */
.ba-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.ba-row + .ba-row {
  margin-top: 1rem; }

[class^='ba-col'] {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }

.ba-col-1 {
  width: 8.33333%; }

.ba-col-2 {
  width: 16.66667%; }

.ba-col-3 {
  width: 25%; }

.ba-col-4 {
  width: 33.33333%; }

.ba-col-5 {
  width: 41.66667%; }

.ba-col-6 {
  width: 50%; }

.ba-col-7 {
  width: 58.33333%; }

.ba-col-8 {
  width: 66.66667%; }

.ba-col-9 {
  width: 75%; }

.ba-col-10 {
  width: 83.33333%; }

.ba-col-11 {
  width: 91.66667%; }

.ba-col-12 {
  width: 100%; }

@media screen and (max-width: 320px) {
  .container {
    max-width: 414px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px; }
  .title__inform_gen {
    display: none; }
  .burger-menu_button {
    display: block !important; }
  #section_general {
    max-width: 414px;
    width: 100%;
    height: 75vh;
    background-image: url(../img/main_hero_homepage_desktop414.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden; }
  .hidden-sa {
    display: none !important; }
  .burger-menu_button {
    display: block !important; } }

@media screen and (max-width: 414px) {
  .body-sf {
    width: 414px; }
  .container-sf {
    max-width: 414px !important;
    width: 100% !important;
    margin: 0 auto !important;
    padding: 0 15px !important; }
  .ba-col-sf-12 {
    width: 100%; }
  .ba-col-sf-11 {
    width: 91.66%; }
  .ba-col-sf-10 {
    width: 83.3%; }
  .ba-col-sf-9 {
    width: 74.97%; }
  .ba-col-sf-8 {
    width: 66.62%; }
  .ba-col-sf-7 {
    width: 58.3%; }
  .ba-col-sf-6 {
    width: 50%; }
  .ba-col-sf-5 {
    width: 41.65%; }
  .ba-col-sf-4 {
    width: 33.3%; }
  .ba-col-sf-3 {
    width: 24.98%; }
  .ba-col-sf-2 {
    width: 16.66%; }
  .ba-col-sf-1 {
    width: 8.33%; }
  .prioritets_text-sf {
    display: flex;
    align-items: center;
    flex-flow: column;
    text-align: center; }
  .generals_prioritets_second-sf {
    margin-left: 0; }
  .button_for_price-sf {
    display: flex;
    align-items: center;
    justify-content: center; }
  .bnt_price-sf {
    position: unset !important; }
  .section_4-sf {
    height: 100% !important;
    background-color: white !important;
    position: relative; }
  .title_section_4 {
    color: black !important; }
  .burger-menu_button {
    display: block !important; }
  .hidden-sf {
    display: none !important; }
  .burger-menu_button {
    display: block !important; } }

@media screen and (max-width: 768px) {
  .ba-col-si-12 {
    width: 100%; }
  .ba-col-si-11 {
    width: 91.66%; }
  .ba-col-si-10 {
    width: 83.3%; }
  .ba-col-si-9 {
    width: 74.97%; }
  .ba-col-si-8 {
    width: 66.62%; }
  .ba-col-si-7 {
    width: 58.3%; }
  .ba-col-si-6 {
    width: 50%; }
  .ba-col-si-5 {
    width: 41.65%; }
  .ba-col-si-4 {
    width: 33.3%; }
  .ba-col-si-3 {
    width: 24.98%; }
  .ba-col-si-2 {
    width: 16.66%; }
  .ba-col-si-1 {
    width: 8.33%; }
  .hidden-si {
    display: none !important; }
  .container_boxRight_si {
    display: none !important; }
  .container_1_si {
    left: 0 !important;
    right: 0 !important;
    display: flex !important;
    margin-left: 28px !important; }
  .container_withText_si {
    width: 35.25rem !important;
    margin-left: 0 !important;
    font-size: 1rem !important;
    line-height: 150% !important;
    text-align: justify !important; }
  .position_si_1 {
    top: 10rem; }
  .position_si_2 {
    top: 19rem; }
  .position_si_3 {
    top: 27rem; }
  .position_si_4 {
    top: 36rem; }
  .section_3_header {
    font-size: 1.5rem !important; }
  .slick-dotsSi {
    right: 0; } }

@media screen and (min-width: 768px) {
  .ba-col-sI-12 {
    width: 100%; }
  .ba-col-si-11 {
    width: 91.66%; }
  .ba-col-si-10 {
    width: 83.3%; }
  .ba-col-si-9 {
    width: 74.97%; }
  .ba-col-si-8 {
    width: 66.62%; }
  .ba-col-si-7 {
    width: 58.3%; }
  .ba-col-sI-6 {
    width: 50%; }
  .ba-col-si-5 {
    width: 41.65%; }
  .ba-col-si-4 {
    width: 33.3%; }
  .ba-col-si-3 {
    width: 24.98%; }
  .ba-col-si-2 {
    width: 16.66%; }
  .ba-col-si-1 {
    width: 8.33%; }
  .hidden-sI {
    display: none !important; }
  .container_1_si {
    left: 0 !important;
    right: 0 !important;
    display: flex !important;
    margin-left: 28px !important; }
  .container_withText_si {
    width: 35.25rem !important;
    margin-left: 0 !important;
    font-size: 1rem !important;
    line-height: 150% !important;
    text-align: justify !important; }
  .position_si_1 {
    top: 10rem; }
  .position_si_2 {
    top: 19rem; }
  .position_si_3 {
    top: 27rem; }
  .position_si_4 {
    top: 36rem; }
  .section_3_header {
    font-size: 1.5rem !important; }
  .slick-dotsSi {
    right: 0; } }

@media screen and (max-width: 991px) {
  .ba-col-md-12 {
    width: 100%; }
  .ba-col-md-11 {
    width: 91.66%; }
  .ba-col-md-10 {
    width: 83.3%; }
  .ba-col-md-9 {
    width: 74.97%; }
  .ba-col-md-8 {
    width: 66.62%; }
  .ba-col-md-7 {
    width: 58.3%; }
  .ba-col-md-6 {
    width: 50%; }
  .ba-col-md-5 {
    width: 41.65%; }
  .ba-col-md-4 {
    width: 33.3%; }
  .ba-col-md-3 {
    width: 24.98%; }
  .ba-col-md-2 {
    width: 16.66%; }
  .ba-col-md-1 {
    width: 8.33%; }
  .hidden-md {
    display: none !important; } }

@media screen and (max-width: 991px) {
  .ba-col-md-12 {
    width: 100%; }
  .ba-col-md-11 {
    width: 91.66%; }
  .ba-col-md-10 {
    width: 83.3%; }
  .ba-col-md-9 {
    width: 74.97%; }
  .ba-col-md-8 {
    width: 66.62%; }
  .ba-col-md-7 {
    width: 58.3%; }
  .ba-col-md-6 {
    width: 50%; }
  .ba-col-md-5 {
    width: 41.65%; }
  .ba-col-md-4 {
    width: 33.3%; }
  .ba-col-md-3 {
    width: 24.98%; }
  .ba-col-md-2 {
    width: 16.66%; }
  .ba-col-md-1 {
    width: 8.33%; }
  .hidden-sm {
    display: none !important; } }

@media screen and (min-width: 991px) {
  .ba-col-sn-12 {
    width: 100%; }
  .ba-col-sn-11 {
    width: 91.66%; }
  .ba-col-sn-10 {
    width: 83.3%; }
  .ba-col-sn-9 {
    width: 74.97%; }
  .ba-col-sn-8 {
    width: 66.62%; }
  .ba-col-sn-7 {
    width: 58.3%; }
  .ba-col-sn-6 {
    width: 50%; }
  .ba-col-sn-5 {
    width: 41.65%; }
  .ba-col-sn-4 {
    width: 33.3%; }
  .ba-col-sn-3 {
    width: 24.98%; }
  .ba-col-sn-2 {
    width: 16.66%; }
  .ba-col-sn-1 {
    width: 8.33%; }
  .hidden-sn {
    display: none !important; } }

@media screen and (max-width: 1280px) {
  a {
    color: greenyellow; }
  .sub_section_services {
    margin-left: -30px;
    padding-left: 0; }
  .layout_sv {
    width: 120px; }
  .img_background_section_4_sv {
    transform: scale(0.8);
    right: -70px !important;
    top: 5rem !important; }
  .container_withContant_sv {
    display: flex;
    position: absolute;
    right: 9% !important;
    align-items: flex-end; }
  .none_sv {
    display: none; } }

@media screen and (max-width: 1337px) {
  a {
    color: purple; } }

@media screen and (max-width: 1366px) {
  a {
    color: red; } }

@media screen and (max-width: 1440px) {
  a {
    color: greenyellow; }
  .container_withContant_sd {
    right: 10.25rem !important; }
  .layout_sd {
    width: 120px; } }

@media screen and (max-width: 1920px) {
  a {
    color: peru; }
  #section_general {
    max-width: 1920px;
    width: 100%;
    height: 100vh;
    background-image: url(../img/main_hero_homepage_desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover; }
  .general_name_cars {
    display: flex;
    justify-content: space-around;
    margin-top: 20rem; }
  .remGen {
    margin-top: 30rem; }
  .hidden-sX {
    display: none; } }

@media screen and (max-width: 2080px) {
  a {
    color: purple; }
  #section_general {
    max-width: 2080px;
    width: 100%;
    height: 100vh;
    background-image: url(../img/main_hero_homepage_desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover; }
  .general_name_cars {
    display: flex;
    justify-content: space-around;
    margin-top: 20rem; }
  .remGen {
    margin-top: 30rem; } }

/* ba-common */
.ba-text-center {
  text-align: center; }

.ba-text-left {
  text-align: left; }

.ba-text-right {
  text-align: right; }

.ba-text-justify {
  text-align: justify; }

* {
  box-sizing: border-box; }

span {
  font-family: "sans-serif"; }

body {
  font-family: "sans-serif"; }

a {
  text-decoration: none;
  color: #141414; }

li {
  list-style: none; }

img {
  max-width: 100%;
  height: 100%;
  display: block; }

video {
  max-width: 100%;
  height: 100%;
  display: block; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  left: -999999px; }

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 100%; }

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.rem {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.white {
  color: white; }

.flex {
  display: flex;
  align-items: center;
  justify-content: center; }

.container-logo {
  margin-top: 2.0625rem; }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .nav_list {
    display: flex;
    align-items: center;
    margin-top: 3.375rem;
    font-family: 'SF UI Display',"sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.0625rem; }
  .nav_links {
    margin-right: 2.3125rem; }
  .nav_contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.375rem;
    font-family: 'SF UI Display',"sans-serif";
    font-weight: 300;
    font-size: .875rem;
    line-height: 1.0625rem; }
  .nav_info {
    display: flex;
    align-items: center;
    margin-right: 1.5rem; }
  .nav_order {
    display: flex;
    width: 14.125rem;
    height: 3.5625rem;
    background-color: #FFBE01;
    align-items: center;
    justify-content: center;
    border-radius: .3125rem;
    margin-top: 2.0625rem;
    margin-left: 1.6875rem;
    font-family: 'SF UI Display',"sans-serif";
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: .875rem;
    line-height: 1.0625rem;
    letter-spacing: 0.1em; }
  .nav_order:hover {
    background-color: white;
    border: 0.5px solid #FFBE01;
    color: #FFBE01; }

.img_info {
  margin-right: .625rem;
  border-radius: 50%; }

.burger-menu_button {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 30;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  background-color: whitesmoke; }

.burger-menu_lines,
.burger-menu_lines::after,
.burger-menu_lines::before {
  position: absolute;
  width: 40px;
  height: 6px;
  background-color: white; }
  .burger-menu_lines:hover,
  .burger-menu_lines::after:hover,
  .burger-menu_lines::before:hover {
    filter: brightness(0.7); }

.burger-menu_lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .burger-menu_lines:before {
    content: "";
    top: -12px; }
  .burger-menu_lines:after {
    content: "";
    top: 12px; }

.burger-menu_active .burger-menu_button {
  right: 0; }

.burger-menu_active .burger-menu_lines {
  background-color: transparent; }
  .burger-menu_active .burger-menu_lines:before {
    top: 0;
    transform: rotate(45deg); }
  .burger-menu_active .burger-menu_lines:after {
    top: 0;
    transform: rotate(-45deg); }

.burger_menu__nav {
  padding-top: 80px;
  position: fixed;
  z-index: 20;
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100%;
  background-color: whitesmoke;
  overflow-y: auto;
  color: #FFBE01;
  right: -100%; }

.burger-menu_active .burger_menu__nav {
  right: 0;
  top: 0;
  transition: .5s; }

.burger_menu__link {
  padding: 30px;
  font-family: 'SF UI Display',"sans-serif";
  font-size: 2rem;
  text-decoration: none;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 500;
  color: #FFBE01; }
  .burger_menu__link:hover {
    filter: brightness(0.7); }

.burger-menu_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10; }

.burger-menu_active .burger-menu_overlay {
  display: block;
  transition: .5s; }

.nav_order_subMenu {
  display: flex;
  background-color: #FFBE01;
  align-items: center;
  justify-content: center;
  border-radius: .3125rem;
  margin-top: 2.0625rem;
  margin-left: 0;
  font-family: 'SF UI Display',"sans-serif";
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 1.875rem;
  line-height: 1.0625rem;
  letter-spacing: 0.1em; }

.slick-dots li button:before {
  font-family: 'SF UI Display',"sans-serif";
  font-size: 1.25rem;
  line-height: 1.25rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
  content: '•';
  /* <-- Вот этот символ */
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.mobile_general_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem; }

.slider {
  margin-left: 3.125rem; }

.slick-dots li button:before {
  font-size: 20px; }

.general_text_upper {
  font-family: 'SF UI Display',"sans-serif";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: black; }

.general_text_lower {
  font-family: 'SF UI Display',"sans-serif";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: black; }

.title_subFunction {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.title_subImg {
  margin-right: 0.9375rem; }

.title_text1 {
  font-family: 'Museo Sans Cyrl', "sans-serif";
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.375rem;
  margin-bottom: 0px; }

.title_text2 {
  font-family: 'Museo Sans Cyrl', "sans-serif";
  font-weight: 900;
  color: #FFBE01;
  font-size: 2rem;
  line-height: 2.375rem;
  margin-top: 0px;
  margin-bottom: 0px; }

.title_text3 {
  font-family: 'Museo Sans Cyrl', "sans-serif";
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.375rem;
  margin-top: 0px; }

.title_sub {
  font-family: 'SF UI Display',"sans-serif";
  font-style: normal;
  font-weight: 200;
  font-size: 1rem;
  line-height: 150%; }

.btn_offer {
  display: flex; }

.btn_btnleft {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.125rem;
  height: 3.5625rem;
  background-color: #FFBE01;
  box-shadow: 0px 1px 4px rgba(255, 190, 1, 0.26);
  border-radius: 5px;
  margin-top: 1.375rem;
  color: white;
  margin-right: 2rem; }

.btn_btnright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.125rem;
  height: 3.5625rem;
  border: 0.5px solid #FFBE01;
  border-radius: 5px;
  margin-top: 1.375rem;
  color: #FFBE01; }

.btn_btnleft {
  font-family: 'SF UI Display',"sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: .875rem;
  line-height: 1.0625rem; }
  .btn_btnleft:hover {
    background-color: white;
    border: 0.5px solid #FFBE01;
    color: #FFBE01; }

.btn_btnright {
  font-family: 'SF UI Display',"sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: .875rem;
  line-height: 1.0625rem; }
  .btn_btnright:hover {
    background-color: #FFBE01;
    color: white; }

.sub_text {
  display: flex;
  margin-top: 1.25rem;
  align-items: center; }

.text_color_general {
  font-family: 'SF UI Display',"sans-serif";
  color: #DEDEDE;
  font-style: normal;
  font-weight: 300;
  font-size: .875rem;
  margin: 0.1875rem; }

.text_color_second {
  font-family: 'SF UI Display',"sans-serif";
  color: #FFBE01;
  font-style: normal;
  font-weight: 300;
  font-size: .875rem; }

.btn_btnleft_slide2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.125rem;
  height: 3.5625rem;
  border: 0.5px solid #FFBE01;
  box-shadow: 0px 1px 4px rgba(255, 190, 1, 0.26);
  border-radius: 5px;
  margin-top: 1.375rem;
  color: #FFBE01;
  margin-right: 2rem; }

.btn_btnright_slide2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.125rem;
  height: 3.5625rem;
  background-color: #FFBE01;
  border-radius: 5px;
  margin-top: 1.375rem;
  color: white; }

.btn_btnleft_slide2:hover {
  background-color: #FFBE01;
  border: 0.5px solid #FFBE01;
  color: white; }

.btn_btnright_slide2:hover {
  background-color: white;
  border: 0.5px solid #FFBE01;
  color: #FFBE01; }

.btn_btnleft_slid3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.125rem;
  height: 3.5625rem;
  border: 0.5px solid #FFBE01;
  box-shadow: 0px 1px 4px rgba(255, 190, 1, 0.26);
  border-radius: 5px;
  margin-top: 1.375rem;
  color: #FFBE01;
  margin-right: 2rem; }

.btn_btnright_slide3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.125rem;
  height: 3.5625rem;
  border: 0.5px solid #FFBE01;
  border-radius: 5px;
  margin-top: 1.375rem;
  color: #FFBE01; }

.btn_btnleft_slid3:hover {
  background-color: #FFBE01;
  border: 0.5px solid #FFBE01;
  color: whitesmoke; }

.btn_btnright_slide3:hover {
  background-color: #FFBE01;
  border: 0.5px solid #FFBE01;
  color: whitesmoke; }

.content_container {
  cursor: pointer;
  height: 14.375rem;
  border: 1px solid #DEDEDE;
  position: relative; }
  .content_container:hover {
    background-color: black;
    transform: scale(1.2);
    color: white;
    z-index: 1;
    border-radius: 10px;
    transition: 0.7s; }

.prioritets_text {
  display: flex;
  align-items: center;
  justify-content: center; }

.generals_prioritets {
  font-family: 'Museo Sans Cyrl', "sans-serif";
  font-style: normal;
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.375rem; }

.generals_prioritets_second {
  margin-left: .6875rem;
  color: #FFBE01;
  font-family: 'Museo Sans Cyrl', "sans-serif";
  font-style: normal;
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.375rem; }

.img_block1 {
  position: absolute;
  height: 2rem;
  width: 2rem;
  left: 3rem;
  top: 2.75rem; }

.box_title_block1 {
  font-family: 'Museo Sans Cyrl', "sans-serif";
  font-weight: 900;
  position: absolute;
  left: 5.8125rem;
  top: 2.5rem; }

.box_title {
  font-family: 'Museo Sans Cyrl', "sans-serif";
  font-weight: 900;
  position: absolute;
  left: 2.1875rem;
  top: 3.125rem; }

.box_img {
  position: absolute;
  width: 2.9375rem;
  height: 2.6925rem;
  top: 1.25rem;
  right: 1.25rem; }

.box_par {
  font-family: 'Museo Sans Cyrl', "sans-serif";
  font-weight: 300;
  position: absolute;
  left: 2.1875rem;
  right: 1.125rem;
  top: 5.875rem; }

.magin_section2 {
  margin-left: 5.125rem;
  margin-right: 5.125rem; }

.accordion-menu {
  width: 100%;
  max-width: 668px;
  margin: 20px auto 20px;
  background: white;
  border-radius: 4px;
  text-align: center;
  font-family: 'Museo Sans Cyrl', "sans-serif";
  font-weight: 500;
  padding: inherit; }

.accordion-menu li.open .dropdownlink {
  color: #FFBE01; }

.accordion-menu li:last-child .dropdownlink {
  border-bottom: 0; }

.dropdownlink {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 45px;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  color: #212121;
  position: relative;
  transition: all 0.4s ease-out;
  font-size: 1.3rem; }
  .dropdownlink i {
    position: absolute;
    top: 17px;
    left: 16px; }
  .dropdownlink .fa-chevron-down {
    right: 12px;
    left: auto; }

.submenuItems {
  display: none;
  height: 262px;
  position: relative;
  margin: 0px;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 10px; }
  .submenuItems li {
    border-bottom: 1px solid #B6B6B6; }

.submenuItems a {
  display: block;
  color: #727272;
  padding: 12px 12px 12px 45px;
  transition: all 0.4s ease-out; }
  .submenuItems a:hover {
    background-color: #CDDC39;
    color: #fff; }

.section_3 {
  position: relative;
  margin-top: 7.3125rem; }
  .section_3_header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Museo Sans Cyrl', "sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.375rem; }
  .section_3_text_general {
    color: black;
    margin-left: .625rem; }
  .section_3_text_second {
    color: #FFBE01;
    margin-left: .625rem; }
  .section_3_header-sf {
    flex-flow: wrap; }

.btn_services {
  width: 70px;
  height: 70px;
  font-family: 'Museo Sans Cyrl', "sans-serif";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  background-color: white;
  border: 2px solid #FFBE01;
  border-radius: 50%; }
  .btn_services:hover {
    background-color: #FFBE01; }
  .btn_services_info {
    font-family: 'Museo Sans Cyrl', "sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px; }

.sub_section_services {
  justify-content: end;
  width: 19.15rem; }

.img_box {
  position: relative; }

.img_plam {
  right: -50px;
  position: absolute;
  width: 414px;
  height: 440px; }

.img_boxx {
  position: relative; }

.img_doll {
  position: inherit;
  right: -50px;
  width: 492px;
  height: 336px;
  top: 80px; }

.button_for_price {
  position: relative;
  height: 9.375rem;
  width: 100%; }

.bnt_price {
  position: absolute;
  right: 50%; }

.servicelist_si {
  position: absolute;
  left: 0;
  font-family: Museo Sans Cyrl;
  font-size: .875rem;
  line-height: 1.0625rem;
  letter-spacing: 0.1em; }

.service {
  margin-bottom: 1rem;
  width: 380px;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.nomber_service {
  font-size: 10px;
  width: 30px;
  height: 30px;
  font-family: 'Museo Sans Cyrl', "sans-serif";
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.1em;
  background-color: white;
  border: 2px solid #FFBE01;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center; }

.name_service {
  margin-left: 1rem; }

.section_4 {
  height: 100vh;
  margin-top: 1.875rem;
  background-color: black;
  position: relative;
  padding-bottom: 3rem; }

.img_background_section_4 {
  position: absolute;
  right: 0;
  top: 5.375rem;
  width: 812.13px;
  height: 779.88px; }

.title_section_4 {
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 5.375rem; }

.title_Big {
  margin-top: 48px;
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px; }

.title_second {
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 38px;
  color: #FFBE01; }

.container_advantages {
  margin-top: 2.625rem;
  min-height: 37.5rem;
  border-left: .5px solid #282828;
  margin-left: 5.375rem; }

.container_boxAdvantages {
  color: white;
  flex-direction: column;
  padding-right: 0px; }

.box_general {
  position: relative; }

.box_advantages {
  width: auto;
  height: 48px;
  position: absolute;
  left: 0;
  border-left: 3px solid #FFBE01;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: white; }
  .box_advantages_btn1 {
    top: 97px; }
  .box_advantages_btn2 {
    top: 246px; }
  .box_advantages_btn3 {
    top: 371px; }
  .box_advantages_btn4 {
    top: 520px; }
  .box_advantages:hover {
    color: #FFBE01; }

.box_advantagesText {
  margin-left: 28px; }

.box_inform {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #FFBE01;
  content: ""; }
  .box_inform_block1 {
    margin-bottom: 105px; }
  .box_inform_block2 {
    margin-bottom: 129px; }
  .box_inform_block3 {
    margin-bottom: 129px; }

.container_boxRight {
  color: white;
  display: block;
  padding-left: 0px; }

.container_withContant {
  display: flex;
  position: absolute;
  right: 24.25rem;
  align-items: flex-end; }

.container_1 {
  top: 16.4375rem; }

.container_2 {
  top: 26.25rem; }

.container_3 {
  top: 33.5625rem; }

.container_4 {
  top: 42.875rem; }

.container_boxs {
  width: 1.25rem;
  height: 1.25rem;
  background-color: #FFBE01;
  content: ""; }

.container_withText {
  width: 41.25rem;
  margin-left: 2.5rem;
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 150%; }
