@charset "UTF-8";
* {
  box-sizing: border-box; }

.adapvite_container {
  max-width: 1920px;
  width: 100%;
  height: 100vh; }

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

/* Ba-grid  */
.ba-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.ba-row + .ba-row {
  margin-top: 1rem; }

[class^='ba-col'] {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }

.ba-col-1 {
  width: 8.33333%; }

.ba-col-2 {
  width: 16.66667%; }

.ba-col-3 {
  width: 25%; }

.ba-col-4 {
  width: 33.33333%; }

.ba-col-5 {
  width: 41.66667%; }

.ba-col-6 {
  width: 50%; }

.ba-col-7 {
  width: 58.33333%; }

.ba-col-8 {
  width: 66.66667%; }

.ba-col-9 {
  width: 75%; }

.ba-col-10 {
  width: 83.33333%; }

.ba-col-11 {
  width: 91.66667%; }

.ba-col-12 {
  width: 100%; }

@media screen and (max-width: 414px) {
  .container {
    max-width: 414px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px; }
  .title__inform_gen {
    display: none; }
  .burger-menu_button {
    display: block !important; }
  #section_general {
    max-width: 414px;
    width: 100%;
    height: 75vh;
    background-image: url(../img/main_hero_homepage_desktop414.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden; }
  .hidden-Sx {
    display: none !important; }
  .burger-menu_button {
    display: block !important; } }

@media screen and (max-width: 768px) {
  .ba-col-sm-12 {
    width: 100%; }
  .ba-col-sm-11 {
    width: 91.66%; }
  .ba-col-sm-10 {
    width: 83.3%; }
  .ba-col-sm-9 {
    width: 74.97%; }
  .ba-col-sm-8 {
    width: 66.62%; }
  .ba-col-sm-7 {
    width: 58.3%; }
  .ba-col-sm-6 {
    width: 50%; }
  .ba-col-sm-5 {
    width: 41.65%; }
  .ba-col-sm-4 {
    width: 33.3%; }
  .ba-col-sm-3 {
    width: 24.98%; }
  .ba-col-sm-2 {
    width: 16.66%; }
  .ba-col-sm-1 {
    width: 8.33%; } }

@media screen and (min-width: 991px) {
  .ba-col-md-12 {
    width: 100%; }
  .ba-col-md-11 {
    width: 91.66%; }
  .ba-col-md-10 {
    width: 83.3%; }
  .ba-col-md-9 {
    width: 74.97%; }
  .ba-col-md-8 {
    width: 66.62%; }
  .ba-col-md-7 {
    width: 58.3%; }
  .ba-col-md-6 {
    width: 50%; }
  .ba-col-md-5 {
    width: 41.65%; }
  .ba-col-md-4 {
    width: 33.3%; }
  .ba-col-md-3 {
    width: 24.98%; }
  .ba-col-md-2 {
    width: 16.66%; }
  .ba-col-md-1 {
    width: 8.33%; }
  .hidden-md {
    display: none !important; } }

@media screen and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }

@media screen and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }

@media screen and (max-width: 1280px) {
  a {
    color: greenyellow; } }

@media screen and (max-width: 1337px) {
  a {
    color: purple; } }

@media screen and (max-width: 1366px) {
  a {
    color: red; } }

@media screen and (max-width: 1920px) {
  a {
    color: peru; }
  #section_general {
    max-width: 1920px;
    width: 100%;
    height: 100vh;
    background-image: url(../img/main_hero_homepage_desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover; }
  .general_name_cars {
    display: flex;
    justify-content: space-around;
    margin-top: 20rem; }
  .remGen {
    margin-top: 30rem; }
  .hidden-sX {
    display: none; } }

@media screen and (max-width: 2080px) {
  a {
    color: purple; }
  #section_general {
    max-width: 2080px;
    width: 100%;
    height: 100vh;
    background-image: url(../img/main_hero_homepage_desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover; }
  .general_name_cars {
    display: flex;
    justify-content: space-around;
    margin-top: 20rem; }
  .remGen {
    margin-top: 30rem; } }

/* ba-common */
.ba-text-center {
  text-align: center; }

.ba-text-left {
  text-align: left; }

.ba-text-right {
  text-align: right; }

.ba-text-justify {
  text-align: justify; }

* {
  box-sizing: border-box; }

span {
  font-family: "sans-serif"; }

body {
  font-family: "sans-serif"; }

a {
  text-decoration: none;
  color: #141414; }

li {
  list-style: none; }

img {
  max-width: 100%;
  height: 100%;
  display: block; }

video {
  max-width: 100%;
  height: 100%;
  display: block; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  left: -999999px; }

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 100%; }

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

.rem {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.white {
  color: white; }

.flex {
  display: flex;
  align-items: center;
  justify-content: center; }

.container-logo {
  margin-top: 2.0625rem; }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .nav_list {
    display: flex;
    align-items: center;
    margin-top: 3.375rem;
    font-family: 'SF UI Display',"sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.0625rem; }
  .nav_links {
    margin-right: 2.3125rem; }
  .nav_contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.375rem;
    font-family: 'SF UI Display',"sans-serif";
    font-weight: 300;
    font-size: .875rem;
    line-height: 1.0625rem; }
  .nav_info {
    display: flex;
    align-items: center;
    margin-right: 1.5rem; }
  .nav_order {
    display: flex;
    width: 14.125rem;
    height: 3.5625rem;
    background-color: #FFBE01;
    align-items: center;
    justify-content: center;
    border-radius: .3125rem;
    margin-top: 2.0625rem;
    margin-left: 1.6875rem;
    font-family: 'SF UI Display',"sans-serif";
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: .875rem;
    line-height: 1.0625rem;
    letter-spacing: 0.1em; }
  .nav_order:hover {
    background-color: white;
    border: 0.5px solid #FFBE01;
    color: #FFBE01; }

.img_info {
  margin-right: .625rem; }

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 1.25rem;
  line-height: 1.25rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
  content: '•';
  /* <-- Вот этот символ */
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slider {
  margin-left: 3.125rem; }

.slick-dots li button:before {
  font-size: 20px; }

.general_text_upper {
  font-family: 'SF UI Display',"sans-serif";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: black; }

.general_text_lower {
  font-family: 'SF UI Display',"sans-serif";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: black; }

.title_subFunction {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.title_subImg {
  margin-right: 0.9375rem; }

.title_text1 {
  font-family: 'Museo Sans Cyrl', "sans-serif";
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.375rem;
  margin-bottom: 0px; }

.title_text2 {
  font-family: 'Museo Sans Cyrl', "sans-serif";
  font-weight: 900;
  color: #FFBE01;
  font-size: 2rem;
  line-height: 2.375rem;
  margin-top: 0px;
  margin-bottom: 0px; }

.title_text3 {
  font-family: 'Museo Sans Cyrl', "sans-serif";
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.375rem;
  margin-top: 0px; }

.title_sub {
  font-family: 'SF UI Display',"sans-serif";
  font-style: normal;
  font-weight: 200;
  font-size: 1rem;
  line-height: 150%; }

.btn_offer {
  display: flex; }

.btn_btnleft {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.125rem;
  height: 3.5625rem;
  background-color: #FFBE01;
  box-shadow: 0px 1px 4px rgba(255, 190, 1, 0.26);
  border-radius: 5px;
  margin-top: 1.375rem;
  color: white;
  margin-right: 2rem; }

.btn_btnright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.125rem;
  height: 3.5625rem;
  border: 0.5px solid #FFBE01;
  border-radius: 5px;
  margin-top: 1.375rem;
  color: #FFBE01; }

.btn_btnleft {
  font-family: 'SF UI Display',"sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: .875rem;
  line-height: 1.0625rem; }
  .btn_btnleft:hover {
    background-color: white;
    border: 0.5px solid #FFBE01;
    color: #FFBE01; }

.btn_btnright {
  font-family: 'SF UI Display',"sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: .875rem;
  line-height: 1.0625rem; }
  .btn_btnright:hover {
    background-color: #FFBE01;
    color: white; }

.sub_text {
  display: flex;
  margin-top: 1.25rem;
  align-items: center; }

.text_color_general {
  font-family: 'SF UI Display',"sans-serif";
  color: #DEDEDE;
  font-style: normal;
  font-weight: 300;
  font-size: .875rem;
  margin: 0.1875rem; }

.text_color_second {
  font-family: 'SF UI Display',"sans-serif";
  color: #FFBE01;
  font-style: normal;
  font-weight: 300;
  font-size: .875rem; }

.btn_btnleft_slide2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.125rem;
  height: 3.5625rem;
  border: 0.5px solid #FFBE01;
  box-shadow: 0px 1px 4px rgba(255, 190, 1, 0.26);
  border-radius: 5px;
  margin-top: 1.375rem;
  color: #FFBE01;
  margin-right: 2rem; }

.btn_btnright_slide2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.125rem;
  height: 3.5625rem;
  background-color: #FFBE01;
  border-radius: 5px;
  margin-top: 1.375rem;
  color: white; }

.btn_btnleft_slide2:hover {
  background-color: #FFBE01;
  border: 0.5px solid #FFBE01;
  color: white; }

.btn_btnright_slide2:hover {
  background-color: white;
  border: 0.5px solid #FFBE01;
  color: #FFBE01; }

.btn_btnleft_slid3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.125rem;
  height: 3.5625rem;
  border: 0.5px solid #FFBE01;
  box-shadow: 0px 1px 4px rgba(255, 190, 1, 0.26);
  border-radius: 5px;
  margin-top: 1.375rem;
  color: #FFBE01;
  margin-right: 2rem; }

.btn_btnright_slide3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.125rem;
  height: 3.5625rem;
  border: 0.5px solid #FFBE01;
  border-radius: 5px;
  margin-top: 1.375rem;
  color: #FFBE01; }

.btn_btnleft_slid3:hover {
  background-color: #FFBE01;
  border: 0.5px solid #FFBE01;
  color: whitesmoke; }

.btn_btnright_slide3:hover {
  background-color: #FFBE01;
  border: 0.5px solid #FFBE01;
  color: whitesmoke; }

.content_container {
  height: 14.375rem;
  border: 1px solid #DEDEDE;
  position: relative; }
  .content_container:hover {
    background-color: black;
    transform: scale(1.2);
    color: white;
    z-index: 1;
    border-radius: 10px;
    transition: 0.7s; }

.prioritets_text {
  display: flex;
  align-items: center;
  justify-content: center; }

.generals_prioritets {
  font-family: 'Museo Sans Cyrl', "sans-serif";
  font-style: normal;
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.375rem; }

.generals_prioritets_second {
  margin-left: .6875rem;
  color: #FFBE01;
  font-family: 'Museo Sans Cyrl', "sans-serif";
  font-style: normal;
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.375rem; }

.img_block1 {
  position: absolute;
  height: 2rem;
  width: 2rem;
  left: 3rem;
  top: 2.75rem; }

.box_title_block1 {
  font-family: 'Museo Sans Cyrl', "sans-serif";
  font-weight: 900;
  position: absolute;
  left: 5.8125rem;
  top: 2.5rem; }

.box_title {
  font-family: 'Museo Sans Cyrl', "sans-serif";
  font-weight: 900;
  position: absolute;
  left: 2.1875rem;
  top: 3.125rem; }

.box_img {
  position: absolute;
  width: 2.9375rem;
  height: 2.6925rem;
  top: 1.25rem;
  right: 1.25rem; }

.box_par {
  font-family: 'Museo Sans Cyrl', "sans-serif";
  font-weight: 300;
  position: absolute;
  left: 2.1875rem;
  right: 1.125rem;
  top: 5.875rem; }

.magin_section2 {
  margin-left: 5.125rem;
  margin-right: 5.125rem; }

.section_3 {
  position: relative;
  margin-top: 7.3125rem; }
  .section_3_header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Museo Sans Cyrl', "sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.375rem; }
  .section_3_text_general {
    color: black;
    margin-left: .625rem; }
  .section_3_text_second {
    color: #FFBE01;
    margin-left: .625rem; }

.btn_services {
  width: 70px;
  height: 70px;
  font-family: 'Museo Sans Cyrl', "sans-serif";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  background-color: white;
  border: 2px solid #FFBE01;
  border-radius: 50%; }
  .btn_services:hover {
    background-color: #FFBE01; }
  .btn_services_info {
    font-family: 'Museo Sans Cyrl', "sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px; }

.sub_section_services {
  justify-content: end;
  width: 19.15rem; }

.img_box {
  position: relative; }

.img_plam {
  right: -50px;
  position: absolute;
  width: 414px;
  height: 440px; }

.img_boxx {
  position: relative; }

.img_doll {
  position: inherit;
  right: -50px;
  width: 492px;
  height: 336px;
  top: 80px; }

.button_for_price {
  position: relative;
  height: 9.375rem;
  width: 100%; }

.bnt_price {
  position: absolute;
  right: 50%; }

#section_4 {
  margin-top: 1.875rem;
  background-color: black;
  position: relative; }

.img_background_section_4 {
  position: absolute;
  right: 0;
  top: 5.375rem;
  width: 812.13px;
  height: 779.88px; }

.title_section_4 {
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 5.375rem; }

.title_Big {
  margin-top: 48px;
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px; }

.title_second {
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 38px;
  color: #FFBE01; }

.contaiver_advantages {
  margin-top: 2.625rem;
  height: 100vh;
  border-left: .5px solid #282828;
  margin-left: 5.375rem; }

.contaiver_boxAdvantages {
  color: white;
  flex-direction: column;
  padding-right: 0px; }

.box_general {
  position: relative; }

.box_advantages {
  width: auto;
  height: 48px;
  position: absolute;
  left: 0;
  border-left: 3px solid #FFBE01;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Museo Sans Cyrl;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: white; }
  .box_advantages_btn1 {
    top: 97px; }
  .box_advantages_btn2 {
    top: 246px; }
  .box_advantages_btn3 {
    top: 371px; }
  .box_advantages_btn4 {
    top: 520px; }

.box_advantagesText {
  margin-left: 28px; }

.box_inform {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #FFBE01;
  content: ""; }
  .box_inform_block1 {
    margin-bottom: 105px; }
  .box_inform_block2 {
    margin-bottom: 129px; }
  .box_inform_block3 {
    margin-bottom: 129px; }

.container_boxRight {
  color: white;
  display: block;
  padding-left: 0px; }

.container_withContant {
  display: flex;
  position: absolute;
  right: 30%;
  align-items: flex-end; }

.container_1 {
  top: 25%; }

.container_2 {
  top: 36%; }

.container_3 {
  top: 46%; }

.container_4 {
  top: 63%; }

.container_boxs {
  width: 1.25rem;
  height: 1.25rem;
  background-color: #FFBE01;
  content: ""; }

.container_withText {
  width: 41.25rem;
  margin-left: 2.5rem;
  font-family: SF UI Display;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 150%; }
