@charset "UTF-8";
.container-logo {
  margin-top: 2.0625rem; }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .nav_list {
    display: flex;
    align-items: center;
    margin-top: 3.375rem;
    font-family: 'SF UI Display',"sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.0625rem; }
  .nav_links {
    margin-right: 2.3125rem; }
  .nav_contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.375rem;
    font-family: 'SF UI Display',"sans-serif";
    font-weight: 300;
    font-size: .875rem;
    line-height: 1.0625rem; }
  .nav_info {
    display: flex;
    align-items: center;
    margin-right: 1.5rem; }
  .nav_order {
    display: flex;
    width: 14.125rem;
    height: 3.5625rem;
    background-color: #FFBE01;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 2.0625rem;
    margin-left: 1.6875rem;
    font-family: 'SF UI Display',"sans-serif";
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: .875rem;
    line-height: 1.0625rem;
    letter-spacing: 0.1em; }
  .nav_order:hover {
    background-color: white;
    border: 0.5px solid #FFBE01;
    color: #FFBE01; }

.img_info {
  margin-right: .625rem; }

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  /* <-- Вот этот символ */
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slider {
  margin-left: 3.125rem; }

.general_text_upper {
  font-family: 'SF UI Display',"sans-serif";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: black; }

.general_text_lower {
  font-family: 'SF UI Display',"sans-serif";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: black; }

.title_subFunction {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.title_subImg {
  margin-right: 0.9375rem; }

.title_text1 {
  font-family: 'Museo Sans Cyrl', "sans-serif";
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.375rem;
  margin-bottom: 0px; }

.title_text2 {
  font-family: 'Museo Sans Cyrl', "sans-serif";
  font-weight: 900;
  color: #FFBE01;
  font-size: 2rem;
  line-height: 2.375rem;
  margin-top: 0px;
  margin-bottom: 0px; }

.title_text3 {
  font-family: 'Museo Sans Cyrl', "sans-serif";
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.375rem;
  margin-top: 0px; }

.title_sub {
  font-family: 'SF UI Display',"sans-serif";
  font-style: normal;
  font-weight: 200;
  font-size: 1rem;
  line-height: 150%; }

.btn_offer {
  display: flex; }

.btn_btnleft {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.125rem;
  height: 3.5625rem;
  background-color: #FFBE01;
  box-shadow: 0px 1px 4px rgba(255, 190, 1, 0.26);
  border-radius: 5px;
  margin-top: 1.375rem;
  color: white;
  margin-right: 2rem; }

.btn_btnright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.125rem;
  height: 3.5625rem;
  border: 0.5px solid #FFBE01;
  border-radius: 5px;
  margin-top: 1.375rem;
  color: #FFBE01; }

.btn_btnleft {
  font-family: 'SF UI Display',"sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: .875rem;
  line-height: 1.0625rem; }
  .btn_btnleft:hover {
    background-color: white;
    border: 0.5px solid #FFBE01;
    color: #FFBE01; }

.btn_btnright {
  font-family: 'SF UI Display',"sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: .875rem;
  line-height: 1.0625rem; }
  .btn_btnright:hover {
    background-color: #FFBE01;
    color: white; }

.sub_text {
  display: flex;
  margin-top: 1.25rem;
  align-items: center; }

.text_color_general {
  font-family: 'SF UI Display',"sans-serif";
  color: #DEDEDE;
  font-style: normal;
  font-weight: 300;
  font-size: .875rem;
  margin: 0.1875rem; }

.text_color_second {
  font-family: 'SF UI Display',"sans-serif";
  color: #FFBE01;
  font-style: normal;
  font-weight: 300;
  font-size: .875rem; }

.btn_btnleft_slide2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.125rem;
  height: 3.5625rem;
  border: 0.5px solid #FFBE01;
  box-shadow: 0px 1px 4px rgba(255, 190, 1, 0.26);
  border-radius: 5px;
  margin-top: 1.375rem;
  color: #FFBE01;
  margin-right: 2rem; }

.btn_btnright_slide2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.125rem;
  height: 3.5625rem;
  background-color: #FFBE01;
  border-radius: 5px;
  margin-top: 1.375rem;
  color: white; }

.btn_btnleft_slide2:hover {
  background-color: #FFBE01;
  border: 0.5px solid #FFBE01;
  color: white; }

.btn_btnright_slide2:hover {
  background-color: white;
  border: 0.5px solid #FFBE01;
  color: #FFBE01; }

.btn_btnleft_slid3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.125rem;
  height: 3.5625rem;
  border: 0.5px solid #FFBE01;
  box-shadow: 0px 1px 4px rgba(255, 190, 1, 0.26);
  border-radius: 5px;
  margin-top: 1.375rem;
  color: #FFBE01;
  margin-right: 2rem; }

.btn_btnright_slide3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.125rem;
  height: 3.5625rem;
  border: 0.5px solid #FFBE01;
  border-radius: 5px;
  margin-top: 1.375rem;
  color: #FFBE01; }

.btn_btnleft_slid3:hover {
  background-color: #FFBE01;
  border: 0.5px solid #FFBE01;
  color: whitesmoke; }

.btn_btnright_slide3:hover {
  background-color: #FFBE01;
  border: 0.5px solid #FFBE01;
  color: whitesmoke; }

.content_container {
  height: 14.375rem;
  border: 1px solid #DEDEDE;
  position: relative; }
  .content_container:hover {
    background-color: black;
    transform: scale(1.2);
    color: white;
    z-index: 1;
    border-radius: 10px;
    transition: 2s; }

.prioritets_text {
  display: flex;
  align-items: center;
  justify-content: center; }

.generals_prioritets {
  font-family: 'Museo Sans Cyrl', "sans-serif";
  font-style: normal;
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.375rem; }

.generals_prioritets_second {
  margin-left: .6875rem;
  color: #FFBE01;
  font-family: 'Museo Sans Cyrl', "sans-serif";
  font-style: normal;
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.375rem; }

.img_block1 {
  position: absolute;
  height: 2rem;
  width: 2rem;
  left: 3rem;
  top: 2.75rem; }

.box_title_block1 {
  font-family: 'Museo Sans Cyrl', "sans-serif";
  font-weight: 900;
  position: absolute;
  left: 5.8125rem;
  top: 2.5rem; }

.box_title {
  font-family: 'Museo Sans Cyrl', "sans-serif";
  font-weight: 900;
  position: absolute;
  left: 2.1875rem;
  top: 3.125rem; }

.box_img {
  position: absolute;
  width: 2.9375rem;
  height: 2.6925rem;
  top: 1.25rem;
  right: 1.25rem; }

.box_par {
  font-family: 'Museo Sans Cyrl', "sans-serif";
  font-weight: 300;
  position: absolute;
  left: 2.1875rem;
  right: 1.125rem;
  top: 5.875rem; }

.magin_section2 {
  margin-left: 5.125rem;
  margin-right: 5.125rem; }

.section_3 {
  position: relative;
  margin-top: 7.3125rem;
  margin-left: 5.125rem;
  margin-right: 5.125rem; }
  .section_3_header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Museo Sans Cyrl', "sans-serif";
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.375rem; }
  .section_3_text_general {
    color: black;
    margin-left: .625rem; }
  .section_3_text_second {
    color: #FFBE01;
    margin-left: .625rem; }

.btn_services {
  width: 70px;
  height: 70px;
  font-family: 'Museo Sans Cyrl', "sans-serif";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  background-color: white;
  border: 2px solid #FFBE01;
  border-radius: 50%; }
  .btn_services:hover {
    background-color: #FFBE01; }
  .btn_services_info {
    font-family: 'Museo Sans Cyrl', "sans-serif";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px; }

.sub_section_services {
  justify-content: end;
  width: 19.15rem; }

.img_box {
  position: relative; }

.img_plam {
  right: -50px;
  position: absolute;
  width: 414px;
  height: 440px; }

.img_boxx {
  position: relative; }

.img_doll {
  position: inherit;
  right: -50px;
  width: 492px;
  height: 336px;
  top: 80px; }
